@font-face {
  font-family: 'TT Travels Next';
  src: url('/fonts/TTTravelsNext-Medium.woff2') format('woff2'),
       url('/fonts/TTTravelsNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
