@use 'sass:math';

/* Responsive Breakpoints */
$breakpoint-mobile: 729px;

/* Font */
$font-default-name: 'TT Travels Next';
$font-default: $font-default-name, sans-serif;
$font-inter: 'Inter', sans-serif;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-extra-black: 950;

$color-gray-100: #f5f5f5;
$color-gray-200: #e5e5e5;
$color-gray-300: #d4d4d4;
$color-gray-400: #a3a3a3;
$color-gray-500: #737373;
$color-gray-600: #525252;
$color-gray-700: #404040;

$color-red: #ff0000;
$color-black: #000;
$color-white: #fff;

$color-primary: #FF00B6;
$color-primary-light: #FF66D4;
$color-primary-dark: #CC0092;

/* Responsive breakpoints */
@mixin layout-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin layout-aspect-tablet() {
  @media (max-aspect-ratio: 22/10) {
    @content;
  }
}

@mixin layout-aspect-mobile() {
  @media (max-aspect-ratio: 10/10) {
    @content;
  }
}
