name: gromka-show

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: gromka
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - gromka_db_dev:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/gromka?schema=public
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - db

volumes:
  gromka_db_dev:

